apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-epouvante
spec:
  replicas: 1 # <--- Force à 1 pour ton quota étudiant
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
      - name: backend-node
        image: monregistreepouvante.azurecr.io/backend:v12
        ports:
        - containerPort: 5000
        resources: # Aide le cluster à mieux gérer la mémoire
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"