apiVersion: apps/v1
kind: Deployment
metadata:
  name: bazar-api
  labels:
    app: bazar-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bazar-api
  template:
    metadata:
      labels:
        app: bazar-api
    spec:
      containers:
        - name: bazar-api
          image: europe-west9-docker.pkg.dev/project-6ead5f33-15fd-443c-817/bazar-api-repo/bazar-api@sha256:e9486d65428067aaa73526ab0fcc7959acd18a8f8248508b0062262a9480765f
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "5000"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: bazar-api-secrets
                  key: jwt_secret
            - name: EMAIL_USER
              valueFrom:
                secretKeyRef:
                  name: bazar-api-secrets
                  key: email_user
            - name: EMAIL_PASS
              valueFrom:
                secretKeyRef:
                  name: bazar-api-secrets
                  key: email_pass
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 1000
            capabilities:
              drop:
                - ALL
