name: CI/CD DevSecOps - Blockbuster
on:
  push:
    branches: [ main ]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies & Run Tests
        run: |
          cd server
          npm install
          npm test

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Push to ACR
        run: |
          az acr login --name monregistreepouvante
          docker build -t monregistreepouvante.azurecr.io/backend:${{ github.sha }} ./server
          docker push monregistreepouvante.azurecr.io/backend:${{ github.sha }}

      - name: Deploy to AKS
        run: |
          az aks get-credentials --resource-group rg_epouvante --name <TON_NOM_CLUSTER>
          kubectl set image deployment/backend-epouvante server=monregistreepouvante.azurecr.io/backend:${{ github.sha }}