name: CI/CD DevSecOps Final
on:
  push:
    branches: [ main ]

jobs:
  validate-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Connexion au Registre (Utilise tes secrets ACR_USERNAME et ACR_PASSWORD vus sur tes captures)
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: monregistreepouvante.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Build et Push (Validation de l'industrialisation)
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: monregistreepouvante.azurecr.io/backend:v12

      # --- DÉPLOIEMENT RÉEL VIA KUBECONFIG (Contourne l'erreur Login) ---
      - name: Deploy to AKS
        uses: azure/k8s-deploy@v1
        with:
          # Utilise le secret KUBECONFIG_DATA que tu as créé avec tes clés
          kubeconfig: ${{ secrets.KUBECONFIG_DATA }}
          manifests: |
             k8s/deployment.yaml
          images: |
            monregistreepouvante.azurecr.io/backend:v12

      # --- TEST 3 : SUPERVISION (Validation de la mise en ligne) ---
      - name: Supervision - Vérification Santé
        run: |
          # On recrée un fichier temporaire pour kubectl
          echo "${{ secrets.KUBECONFIG_DATA }}" > kubeconfig_file
          export KUBECONFIG=./kubeconfig_file
          echo "Vérification du déploiement sur AKS..."
          kubectl rollout status deployment/backend-epouvante --timeout=60s