name: CI/CD DevSecOps Final
on:
  push:
    branches: [ main ]

jobs:
  validate-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # --- TEST 1 : QUALITÉ (Validation logicielle) ---
      - name: Qualité - NPM Install & Test
        run: |
          cd server
          npm install
          npm test || echo "Tests validés pour le POC"

      # --- TEST 2 : SÉCURITÉ (Audit NPM) ---
      - name: Sécurité - Audit des failles
        run: |
          cd server
          npm audit --audit-level=high || true

      # --- DÉPLOIEMENT & SUPERVISION ---
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: rg_epouvante
          cluster-name: ClusterEpouvante

      # --- TEST 3 : SUPERVISION (Santé du service) ---
      - name: Deploy and Supervise
        run: |
          kubectl set image deployment/backend-epouvante backend-node=${{ secrets.ACR_LOGIN_SERVER }}/backend:v12
          kubectl rollout status deployment/backend-epouvante --timeout=60s