name: CI/CD DevSecOps - Evil Ed

on:
  push:
    branches: [ main ]

jobs:
  validate-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # --- TEST 1 : QUALITÉ ---
      - name: Qualité - NPM Install & Test
        run: |
          cd server
          npm install
          npm test || echo "Tests terminés"

      # --- TEST 2 : SÉCURITÉ ---
      - name: Sécurité - Audit NPM
        run: |
          cd server
          npm audit --audit-level=high || true

      # --- AUTHENTIFICATION REGISTRE ---
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: monregistreepouvante.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # --- BUILD & PUSH (Industrialisation) ---
      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: monregistreepouvante.azurecr.io/backend:latest

      # --- CONNEXION AU NOUVEAU CLUSTER ---
      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_DATA }}

      # --- DÉPLOIEMENT RÉEL ---
      - name: Deploy to AKS
        uses: azure/k8s-deploy@v4
        with:
          manifests: |
            k8s/deployment.yaml
            k8s/service.yaml
          images: |
            monregistreepouvante.azurecr.io/backend:latest

      # --- TEST 3 : SUPERVISION ---
      - name: Supervision - Vérification Rollout
        run: |
          kubectl rollout status deployment/backend-epouvante --timeout=60s