name: CI/CD Azure AKS

on:
  push:
    branches: [ main ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- TESTS ---
      - name: Install & Test
        run: |
          cd server
          npm install
          npm test

      - name: Security Audit
        run: |
          cd server
          npm audit --audit-level=critical

      # --- LOGIN ACR ---
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: monregistreepouvante.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # --- BUILD IMAGE ---
      - name: Build & Push Docker
        uses: docker/build-push-action@v4
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: monregistreepouvante.azurecr.io/backend:latest

      # --- CONTEXTE K8S ---
      - name: Set Kubecontext
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_DATA }}

      # --- DEPLOY ---
      - name: Deploy to AKS
        uses: azure/k8s-deploy@v4
        with:
          manifests: |
            k8s/deployment.yaml
            k8s/service.yaml
          images: |
            monregistreepouvante.azurecr.io/backend:latest

      # --- VERIF ---
      - name: Rollout status
        run: kubectl rollout status deployment/backend-epouvante