name: CI/CD DevSecOps - Blockbuster
on: [push]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Étape 1 : Tests unitaires et Sécurité (SAST)
      - name: Install dependencies & Test
        run: |
          cd server
          npm install
          npm test # Validation de la logique métier (stocks/prix)

      # Étape 2 : Scan de vulnérabilités Docker (Trivy)
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'monregistreepouvante.azurecr.io/backend:v1'
          format: 'table'
          exit-code: '1' # Bloque le déploiement si vulnérabilité critique
          severity: 'CRITICAL,HIGH'

      # Étape 3 : Build & Push vers Azure ACR
      - name: Azure Login & ACR Push
        uses: azure/docker-login@v1
        with:
          login-server: monregistreepouvante.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - run: |
          docker build -t monregistreepouvante.azurecr.io/backend:${{ github.sha }} ./server
          docker push monregistreepouvante.azurecr.io/backend:${{ github.sha }}