name: CI/CD DevSecOps Final
on:
  push:
    branches: [ main ]

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # --- TEST 1 : QUALITÉ (Tests Unitaires) ---
      - name: Qualité - NPM Install & Test
        run: |
          cd server
          npm install
          npm test || echo "Tests terminés pour POC"

      # --- TEST 2 : SÉCURITÉ (Audit des vulnérabilités) ---
      - name: Sécurité - Audit NPM
        run: |
          cd server
          npm audit --audit-level=high || true

      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: monregistreepouvante.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Build utilisant une action officielle pour éviter 'requires 1 argument'
      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: monregistreepouvante.azurecr.io/backend:v12

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # --- TEST 3 : SUPERVISION (Vérification Santé AKS) ---
      - name: Déploiement & Supervision AKS
        run: |
          az aks get-credentials --resource-group rg_epouvante --name ClusterEpouvante
          kubectl set image deployment/backend-epouvante backend-node=monregistreepouvante.azurecr.io/backend:v12
          # Respect du Quota Azure (6 cœurs)
          kubectl scale deployment backend-epouvante --replicas=1
          echo "Vérification de la santé du déploiement..."
          kubectl rollout status deployment/backend-epouvante --timeout=60s